{{ ansible_managed | comment }}

macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP

country_code=NL
interface=wlan0
ssid=griend.wlan
wpa_passphrase=Welkom01

#
# See: https://en.wikipedia.org/wiki/List_of_WLAN_channels
#
# hw_mode                       channel
# b = IEEE 802.11b (2.4 GHz)    1 - 13
# g = IEEE 802.11g (2.4 GHz)    1 - 13
# a = IEEE 802.11a (5 GHz)      32 - 68    Raspberry Pi 3B+ onwards
hw_mode=g
channel=12
